body{
  background-color: #000;
  text-align: center;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
}

.wrapper {
  width:  900px;
  margin-left: auto;
  margin-right: auto;

}

.header{
  background-image: url("assets/treasureMapBgImg.jpg");
}

h1 {
  font-weight: 600;
  font-size: 3rem;
}

h3 {
  font-weight: 200;
}

.game-board {
 display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 0px;
  grid-auto-rows: minmax(100px, auto);
}

.game-board div{
  /* width: 100px;
  height: 100px; */
  /* background-color: tan; */
  background-size: 90px 90px;
  background-repeat:  no-repeat;
  background-position: center;
  border: solid 1px tan;
  border-radius: 50px;
  /* border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; */

}

/* .space1{
  position: relative;
  top: 300px;
  left: 5px;
  transform: rotate(315deg);
}
.space2{
  position: relative;
  top: 235px;
  left: -20px;
  transform: rotate(316deg);

}
.space3{
  position: relative;
  top: 170px;
  left: -45px;
  transform: rotate(317deg);
}
.space4{
  position: relative;

  top: 105px;
  left: -70px;
  transform: rotate(318deg);
}
.space5{
  position: relative;
  top: 45px;
  left: -90px;
  transform: rotate(319deg);
}
.space6{
  position: relative;
  top: -15px;
  left: -110px;
  transform: rotate(319deg);
} */

.space1 span {
  font-size: 1.5rem;
  position: relative;
  top: 2.2rem;
}

div .dice{
  background-color: red;
  color: black;
  width: 81.66px;
  height: 98px;
  border-radius: 10px;
  /* display: table-cell; */
  /* text-align: center; */
  /* vertical-align: middle; */
  font-family: fantasy;
  font-size: 5rem;
}

img {
  background-color: white;
}

.game-board .player-1 {
  /* justify-content: center; */
  /* background-color: blue; */
  border-radius: 50px;
  background-image: url(assets/skull-blue.svg);
  /* margin-left: auto;
  margin-right: auto; */
}

.game-board .player-2{
  background-image: url(assets/skull-purple.svg);
  border-radius: 50px;
}

.game-board .blank {
  opacity: 0;
}

button {
font-size: 2.5rem;
background-color: gray;
border-radius: 10px;
grid-row: 1;
grid-column: 9/10;
}
.btn-disabled{
  cursor: not-allowed;
  pointer-events: none;
}

#player-display{
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  color: black;
}

/* .ship-graphic{
  position: relative;
  /* width: 200px; */
  height: 200px;
  top: -200px;
  left: 50px;
  background-image: url(assets/ship.svg);
  background-repeat: no-repeat;
} */
